@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
    font-family: 'Montserrat';
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}